<head>
  <title>First_Brick | Architects & Engineers</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
  />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="icon" href="/images/favicon.ico" />
  <noscript>
    <link rel="stylesheet" href="/css/noscript.css" />
  </noscript>
</head>
<body class="is-preload">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-178645442-1"
  ></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-178645442-1");
  </script>

  <!-- Sidebar -->
  <section id="sidebar">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="#intro">Welcome</a></li>
          <li><a href="#one">Who we are</a></li>
          <li><a href="#two">What we do</a></li>
          <!-- <li><a href="#two">Projects</a></li> -->
          <li><a href="#three">Get in touch</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        <h1>First Brick</h1>
        <p>We are committed to creating new realities</p>
        <!--      <ul class="actions">-->
        <!--        <li><a href="#one" class="button scrolly">Learn more</a></li>-->
        <!--      </ul>-->
      </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2 spotlights">
      <section>
        <a href="#" class="image"
          ><img src="images/debanga.jpeg" alt="" data-position="center center"
        /></a>
        <div class="content">
          <div class="inner">
            <h2>Debanga</h2>
            <p>Debanga Narayan Sarma. Structural Engineer.</p>
            <ul class="icons">
              <li>
                <a
                  href=" https://twitter.com/DebangaSarma"
                  class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/debanga-sarma-959a59107/"
                  class="icon brands fa-linkedin-in"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/debanga.sarma"
                  class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <a href="#" class="image"
          ><img src="images/gaurav.jpeg" alt="" data-position="top center"
        /></a>
        <div class="content">
          <div class="inner">
            <h2>Gaurav</h2>
            <p>Gaurav Das. Architect.</p>
            <ul class="icons">
              <li>
                <a
                  href="https://www.facebook.com/Gaurav.28.gca"
                  class="icon brands fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/ar-gaurav-das-101b65111/"
                  class="icon brands fa-linkedin-in"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/gd_architect_/"
                  class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <a href="#" class="image"
          ><img src="images/pic03.jpg" alt="" data-position="25% 25%"
        /></a>
        <div class="content">
          <div class="inner">
            <h2>Pradipta</h2>
            <p>Pradipta Sarma. Elecrical and Smart Home Automation designer.</p>
            <ul class="icons">
              <li>
                <a
                  href="https://twitter.com/SarmaPradipta"
                  class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/pradiptasarma/"
                  class="icon brands fa-linkedin-in"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3 fade-up">
      <div class="inner">
        <h2>What we do</h2>
        <p>We build homes using soil, brick and cement.</p>
        <div class="features">
          <section>
            <span class="icon solid major fa-code"></span>
            <h3>Design</h3>
            <p>Modern design</p>
          </section>
          <section>
            <span class="icon solid major fa-lock"></span>
            <h3>Feature</h3>
            <p>Awesome Feature</p>
          </section>
          <section>
            <span class="icon solid major fa-cog"></span>
            <h3>More feature</h3>
            <p>More Feature</p>
          </section>
          <section>
            <span class="icon solid major fa-desktop"></span>
            <h3>Etcetera</h3>
            <p>Etcetera</p>
          </section>
          <section>
            <span class="icon solid major fa-link"></span>
            <h3>Etcetera</h3>
            <p>Etcetera</p>
          </section>
          <section>
            <span class="icon major fa-gem"></span>
            <h3>Best</h3>
            <p>We are the best</p>
          </section>
        </div>
        <ul class="actions">
          <li><a href="generic.html" class="button">Learn more</a></li>
        </ul>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style1 fade-up">
      <div class="inner">
        <h2>Get in touch</h2>
        <p>Drop your query here. We will get back to you.</p>
        <div class="split style1">
          <section>
            <form
              action="/contact"
              method="POST"
              onsubmit="return validateForm()"
            >
              <div class="fields">
                <div class="field half">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Name"
                    maxlength="25"
                    required="true"
                  />
                </div>
                <div class="field half">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Email"
                    maxlength="30"
                  />
                </div>
                <div class="field">
                  <label for="phone">Phone Number</label>
                  <input
                    type="text"
                    name="phone"
                    id="phone"
                    class="form-control"
                    placeholder="Phone Number"
                    maxlength="12"
                    required="true"
                  />
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea
                    name="message"
                    id="message"
                    cols="30"
                    rows="5"
                    class="form-control"
                    maxlength="255"
                    required="true"
                  ></textarea>
                </div>
              </div>
              <div class="g-recaptcha" name ="captchamsg" style="margin-bottom:10px ;" data-sitekey="6LeQFNYZAAAAANZJ1HDS6f4enSq6YdcLhNhOruZB"></div>
              <ul class="actions">
                <li><a href="" class="button submit">Send Message</a></li>
              </ul>
            </form>

            <script>
              //function had illegal parameter
              function validateForm() {
                console.log("Pradipta");
                var name = $("#name").val();
                var email = $("#email").val();
                var phone = $("#phone").val();
                var message = $("#message").val();
                var response = grecaptcha.getResponse();
                 console.log(name);
                if(!response) {
                  alert("Please Verify the Captcha");
                  console.log("Captcha error")
                  return false;
                }                
                if (!name || !email || !phone || !message) {
                  console.log("error");
                  alert("Please fill all the fields");
                  return false;
                }
                alert("Query Sent");
                return true;
              }
            </script>
          </section>
          <section>
            <ul class="contact">
              <li>
                <h3>Address</h3>
                <span
                  >Prakash Bazar<br />
                  Tinsukia<br />
                  Assam</span
                >
              </li>
              <li>
                <h3>Email</h3>
                <a href="mailto:askfirstbrick@gmail.com"
                  >askfirstbrick@gmail.com</a
                >
              </li>
              <li>
                <h3>Phone</h3>
                <a href="tel://7002212429"> +91 (700)-221-2429 <br /> </a>
                <a href="tel://8133910729"> +91 (813)-391-0729 <br /> </a>
              </li>
              <li>
                <h3>Social</h3>
                <ul class="icons">
                  <li>
                    <a
                      href="https://www.facebook.com/FirstBrickArchitectsandEngineers/"
                      class="icon brands fa-facebook-f"
                      ><span class="label">Facebook</span></a
                    >
                  </li>
                  <li>
                    <a
                      href="https://instagram.com/first_brick_arch_engr"
                      class="icon brands fa-instagram"
                      ><span class="label">Instagram</span></a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </section>
  </div>

  <!-- Footer -->
  <footer id="footer" class="wrapper style1-alt">
    <div class="inner">
      <ul class="menu">
        <li>&copy; First_Brick 2020. All rights reserved.</li>
        <li>Design: Pradipta Sarma</li>
      </ul>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
</body>
